//Sidebar navigation

#sidebar {
    background-color: #dbdbdb;
    text-align: right;
    width: 280px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 70;
    @include bp(md-down) {
        display: none;
    }
    &-in {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background-image: url('../img/bg/sidenav-bg.jpg');
        background-size: cover;
        background-position: right center;
        background-repeat: no-repeat;
        @include bp(md-up) {
            background-size: inherit !important;
        }
        .sidenav-brand {
            padding: 60px;
            img {
                max-width: 191px;
            }
        }
        ul {
            li {
                display: block;
                margin: 0;
                padding: 0;
                a {
                    display: block;
                    font-size: 15px;
                    padding: 8px 40px;
                    text-transform: uppercase;
                    letter-spacing: .075em;
                    line-height: 1.4;
                    color: #000;
                    font-family: $robo-med;
                    &:hover {
                        color: $red;
                    }
                }
                ul {
                    position: relative;
                    white-space: normal;
                    padding: 15px 0 20px;
                    background-color: #ffffffc9;
                    li {
                        a {
                            font-family: $robo-reg;
                        }
                        &.active {
                            a {
                                background-image: url(../img/ico/menuh.png);
                                color: $red;
                                background-repeat: no-repeat;
                                background-position: right;
                                background-size: contain;
                            }
                        }
                    }
                }
            }
        }
        >ul {
            padding-right: 18px;
            width: 100%;
            margin: 0;
            display: inline-block;
            font-size: 13px;
            max-height: 60%;
            overflow: auto;
            >li {
                >a {
                    background-image: url(../img/ico/menu.png);
                    background-repeat: no-repeat;
                    background-position: right;
                    background-size: contain;
                }
                &.active {
                    a {
                        background-image: url(../img/ico/menuh.png);
                        color: $red;
                    }
                }
            }
        }
        .sticky-phone {
            margin: 30px auto;
            width: 100%;
            a {
                font-family: $robo-reg;
                border: 2px solid $red;
                color: $red;
                margin-right: 18px;
                padding: 15px 25px;
                font-size: 1.500em;
                text-align: center;
                border-radius: 31px;
                &:hover {
                    background: $red;
                    color: #fff;
                }
            }
        }
    }
}

#mobile-header {
    @include bp(md-up) {
        display: none;
    }
    padding-top: 10px;
    padding-bottom: 10px;
    .col {
        &:last-of-type {
            @include bp(sm-down) {
                max-width: 70px;
                padding-left: 0;
            }
        }
    }
    .row {
        align-items: center;
    }
    #mobile-logo {
        a {
            img {
                width: 100px;
            }
        }
    }
    #mobile-phone {
        text-align: center;
        @include bp(sm-down) {
            text-align: right;
        }
        a {
            @include regular-text;
            color: $red;
            margin-bottom: 0;
            @include bp(sm-down) {
                font-size: 0;
                text-align: right;
            }
            i {
                display: none;
                @include bp(sm-down) {
                    display: inline-block;
                    font-size: 18px;
                    color: $blue;
                }
            }   
        }
    }
    #top__mobile {
        a {
            margin-left: auto;
        }
    }
}

/******************************Mobile Menu**********************************/

.sliding-menu-panel {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.sliding-menu {
    position: relative;
    overflow: hidden;
    li {
        padding: 0;
        margin: 0;
        list-style: none;
        a {
            font-family: $robo-med;
            display: block;
            text-transform: uppercase;
            font-size: 0.938em;
            letter-spacing: .08em;
            text-decoration: none;
            border: none;
            outline: none;
            color: #000;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 15px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            @include bp(sm-down) {
                padding-top: 10px;
                padding-bottom: 10px;
            }
            &:hover {
                color: #fff;
                background: #000;
                /*border: none;*/
                &:before {
                    color: #fff;
                }
            }
        }
    }
    .active a {
        color: #000;
        background: $orange;
        border: none;
    }
    .sliding-menu-nav:before {
        float: right;
        margin-left: 1em;
        margin-right: 15px;
        font-family: 'icomoon';
        content: "\e90f";
        color: #000;
        font-weight: 300;
        font-size: 22px;
        position: relative;
        bottom: 4px;
    }
    .sliding-menu-back {
        color: #fff;
        background: #000;
        font-size: 1em;
        &:before {
            float: left;
            margin-right: 1em;
            font-family: 'icomoon';
            content: "\e90e";
            color: #fff;
            font-weight: 300;
            font-size: 22px;
            margin-left: 0px;
            position: relative;
            bottom: 4px;
        }
    }
}

#menu ul li ul li a {
    font-size: 1px !important;
    color: #000 !important;
}

#mobile__brand {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    img {
        width: 150px;
    }
}

.third-level {
    background: #fff !important;
}


/* mobile btn */
#top__mobile {
    @media (min-width: 1200px) {
        display: none;
    }
    a {
        display: block;
        width: 35px;
        height: 30px;
        span {
            height: 4px;
            border-radius: 6px;
            background-color: #000;
            width: 35px;
            display: block;
            float: right;
            @include animate-fade;
            margin-top: 3px;
            margin-bottom: 3px;
        }
    }
}

/*====================================
=            Menu Ovelray            =
====================================*/

.menu-overlay {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9998;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.active-overlay {
    opacity: 1;
    visibility: visible;
}

.main-menu-sidebar {
    width: 400px;
    position: fixed;
    height: 100%;
    top: 0px;
    right: -400px;
    z-index: 9999;
    transition: .45s ease-in-out;
    background: #fff;
    overflow-y: scroll;
    /* close menu */
    /* main menu */
    .close-menu-btn {
        position: absolute;
        right: 15px;
        top: 15px;
        img {
            width: 20px;
            height: 20px;
        }
    }
    #sidebar-menu-wrapper #menu .nav-links>li>a:hover {
        color: #fff;
    }
}

@media only screen and (max-width: 750px) {
    .main-menu-sidebar {
        width: 300px;
    }
}

.body-scroll {
    overflow-y: hidden !important;
}

.menu-active {
    right: 0;
}


/*=====  End of Mobile Navbar  ======*/