//Sidebar navigation

#sidebar {
    background-color: #dbdbdb;
    text-align: right;
    width: 280px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 70;
    @include bp(md-down) {
        display: none;
    }
    &-in {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background-image: url('../img/bg/sidenav-bg.jpg');
        background-size: cover;
        background-position: right center;
        background-repeat: no-repeat;
        @include bp(md-up) {
            background-size: inherit !important;
        }
        .sidenav-brand {
            padding: 60px;
            img {
                max-width: 191px;
            }
        }
        ul {
            li {
                display: block;
                margin: 0;
                padding: 0;
                a {
                    display: block;
                    font-size: 15px;
                    padding: 8px 40px;
                    text-transform: uppercase;
                    letter-spacing: .075em;
                    line-height: 1.4;
                    color: #000;
                    font-family: $robo-med;
                    &:hover {
                        color: $red;
                    }
                }
                ul {
                    position: relative;
                    white-space: normal;
                    padding: 15px 0 20px;
                    background-color: #ffffffc9;
                    li {
                        a {
                            font-family: $robo-reg;
                        }
                        &.active {
                            a {
                                background-image: url(../img/ico/menuh.png);
                                color: $red;
                                background-repeat: no-repeat;
                                background-position: right;
                                background-size: contain;
                            }
                        }
                    }
                }
            }
        }
        >ul {
            padding-right: 18px;
            width: 100%;
            margin: 0;
            display: inline-block;
            font-size: 13px;
            max-height: 60%;
            overflow: auto;
            >li {
                >a {
                    background-image: url(../img/ico/menu.png);
                    background-repeat: no-repeat;
                    background-position: right;
                    background-size: contain;
                }
                &.active {
                    a {
                        background-image: url(../img/ico/menuh.png);
                        color: $red;
                    }
                }
            }
        }
        .sticky-phone {
            margin: 30px auto;
            width: 100%;
            a {
                font-family: $robo-reg;
                border: 2px solid $red;
                color: $red;
                margin-right: 18px;
                padding: 15px 25px;
                font-size: 1.500em;
                text-align: center;
                border-radius: 31px;
                &:hover {
                    background: $red;
                    color: #fff;
                }
            }
        }
    }
}

#mobile-header {
    @include bp(md-up) {
        display: none;
    }
    padding-top: 10px;
    padding-bottom: 10px;
    .col {
        &:last-of-type {
            @include bp(sm-down) {
                max-width: 70px;
                padding-left: 0;
            }
        }
    }
    .row {
        align-items: center;
    }
    #mobile-logo {
        a {
            img {
                width: 100px;
            }
        }
    }
    #mobile-phone {
        text-align: center;
        @include bp(sm-down) {
            text-align: right;
        }
        a {
            @include regular-text;
            color: $red;
            margin-bottom: 0;
            @include bp(sm-down) {
                font-size: 0;
                text-align: right;
            }
            i {
                display: none;
                @include bp(sm-down) {
                    display: inline-block;
                    font-size: 18px;
                    color: $blue;
                }
            }   
        }
    }
    #top__mobile {
        a {
            margin-left: auto;
        }
    }
}



// mobile menu

.menu-overlay {
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;	
}

.active-overlay {
	opacity: 1;
    visibility: visible;	
}

.main-menu-sidebar {
	background:$white;
	width:310px;
	position:fixed;
	height:100%;
	top:0px;
	right:-310px;
	z-index:99999;
	transition:.45s ease-in-out;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 30px;
    overflow-y:scroll;
    /* close menu */
    header {
        position: relative;
    }
    .close-menu-btn {
        position: absolute;
        top:15px;
        right:-10px;
        color:$white;
        font-size: 20px;
        width: 32px;
        height: 32px;
        img {
            @include centre(both);
            width: 22px;
        }
    }
    // arrow
    small {
        display:block;
        width:45px;
        height:45px;
        position: absolute;
        top:0px;
        right:0px;    
        background: $white; 
        &:after {
            display: block;
            content:url('../img/ico/angle-right-light.svg');
            color:$red;
            font-size: 24px!important;
            @include centre(both);
            width: 12px;
            height: 32px;
        }
        &.active {
            &:after {
                content:url('../img/ico/angle-down-light.svg');
                @include centre(both);
                width: 16px;
            }						
        }          
    }
	/* main menu */
	#sidebar-menu-wrapper {
        padding-top: 15px;
        img.mobile-logo {
            width: 150px;
        }
		#menu {
			.nav-links {
                padding-top: 40px;
                .menu-item-has-children {
                    position: relative;
                }
				> li > a {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    font-size: 16px;
                    color:$black;
                    position: relative;
                    padding-left: 0px;
                    padding-right: 0px;
                    text-transform: uppercase;
                    display: block;
                    font-family: $font-heading;
					&:hover {
						color:$red;
					}
				}
				li {
					ul {
						padding-top: 10px;
						padding-bottom: 10px;
						li {
							a {
								display: block;
								font-size: 1em;
								color:#5d5d5d;
								padding-top: 5px;
								padding-bottom: 5px;
								padding-left: 20px;
								position: relative;
								line-height: 1.3;
                                letter-spacing: 1px;
                                
								&:hover {
									color:$red;
									padding-left: 20px;
									&:before {
										width: 10px;
										background-color:$white;
									}
								}
							}
						}
					}
				}
				.has-menu > a {
					position:relative;
				}
			}
		}

	}
}


.body-scroll {
	overflow-y:hidden!important;
}

.menu-active {
	right: 0;
}