 #about-page {
    .about-item {
        padding-top: 80px;
        padding-bottom: 80px;
        @include bp(lg-down) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        &:nth-of-type(odd) {
            background-color: #dbdbdb;
        }
        &:nth-of-type(even) {
            background-color: #fff;
            .row {
                flex-direction: row-reverse;
            }
            .col-lg-6 {
                &:nth-of-type(2) {
                     @media (min-width:1200px)  {
                        padding-left: 0;
                    }
                }
            }
            .about-photo {
                @include bp(lg-down) {
                    margin-top: 40px;
                }
            }
        }
        .container {
            @media (min-width:1200px)  {
                max-width: 100%;
                width: 100%;
            }
        }
        .offset-lg-1-r {
            @media (min-width:1200px) {
                margin-right: 8.33333%;
            }
        }
        .about-content {
            h2 {
                font-family: $robo-reg;
                font-size: 2.875em;
                line-height: 1.2;
                color: #222222;
                margin-bottom: 45px;
                text-transform: uppercase;
                @include bp(desktop) {
                    font-size: 2.6em;
                    margin-bottom: 35px;
                }
                @include bp(lg) {
                    font-size: 2.4em;
                    margin-bottom: 30px;
                }
                @include bp(md-down) {
                    font-size: 2.2em;
                    margin-bottom: 20px;
                }
                @include bp(sm-down) {
                    font-size: 2em;
                    margin-bottom: 15px;
                }
                strong {
                    font-weight: normal;
                    font-family: $robo-med;
                }
            }
            p {
                @include regular-text;
                font-family: $ek-reg;
                color: #898989;
                margin-bottom: 6px;
            }
            &:after {
                content: '';
                display: block;
                width: 150px;
                height: 4px;
                background-color: #053164;
                margin-top: 40px;
            }
        }
        .about-photo {
            @include bp(md-down) {
                margin-top: 40px;
            }
        }
    }
    #why-us {
        padding-top: 105px;
        padding-bottom: 110px;
        position: relative;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        @include bp(md-up) {
            background-size: inherit !important;
        }
        @include bp(sm-down) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background-color: #053164;
            opacity: 0.88;
        }
        h2 {
            font-family: $robo-reg;
            font-size: 2.875em;
            line-height: 1.2;
            color: #fff;
            margin-bottom: 50px;
            text-transform: uppercase;
            strong {
                font-weight: normal;
                font-family: $robo-med;
            }
            @include bp(desktop) {
                font-size: 2.6em;
                margin-bottom: 35px;
            }
            @include bp(lg) {
                font-size: 2.4em;
                margin-bottom: 30px;
            }
            @include bp(md-down) {
                font-size: 2.2em;
                margin-bottom: 20px;
            }
            @include bp(sm-down) {
                font-size: 2em;
                margin-bottom: 15px;
            }
        }
        p {
            @include regular-text;
            font-family: $ek-reg;
            color: #fff;
            margin-bottom: 6px;
        }
        .container {
            position: relative;
            z-index: 1;
        }
    }
    #services-area {
        .container {
            width: 97%;
            max-width: 97%;
        }
        h3 {
            font-size: 1.500em;
            line-height: 1.4;
        }
        .service-item {
            padding: 10px;
        }
    }
}