#city-header {
    padding-top: 100px;
    padding-bottom: 80px;
    overflow: hidden;
    position: relative;
    @include bp(desktop) {
        padding-top: 80px;
    }
    @include bp(lg-down) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .background-header {
        background-size: cover;
        background-position: center center;
        animation: zoomBg 25s infinite;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .container {
        position: relative;
        z-index: 1;
    }
    &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        background-color: #929292;
        opacity: 0.25;
    }
    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -50%;
        width: 200%;
        height: 100%;
        transform: rotate(10deg);
        background: rgba(5, 49, 100,.85);
        z-index: 0;
    }
    .header-caption {
        text-align: center;
        margin-top: 30px;
        @include bp(sm-down) {
            margin-top: 0;
        }
        img {
            margin-bottom: 30px;
            @include bp(lg-down) {
                width: 70px;
            }
        }
        h1,span, p {
            color: #fff;
            display: block;
        }
        h1 {
            font-family: $ek-bold;
            font-size: 4.063em;
            line-height: 1.2;
            margin-bottom: 20px;
            @include bp(desktop) {
                font-size: 3.5em;
            }
            @include bp(lg) {
                font-size: 2.8em;
            }
            @include bp(md-down) {
                font-size: 2.6em;
            }
            @include bp(sm-down) {
                font-size: 2.4em;
            }
        }
        .review-title {
            font-family: $font-heading;
            font-size: 1.250em;
            line-height: 1.2;
            margin-bottom: 20px;
            @include bp(lg-down) {
                font-size: 1.1em;
            }
        }
        .rating-stars {
            font-size: 1.875em;
            margin-bottom: 20px;
        }
        p, .author {
            font-family: $robo-reg;
            font-size: 1.250em;
            line-height: 1.2;
            line-height: 1.78571;
            margin-bottom: 0;
            @include bp(lg-down) {
                font-size: 1.1em;
            }
        }
        .author {
            font-family: $robo-italic;
        }
        .header-cta {
            margin-top: 20px;
            a {
                display: inline-block;
                font-family: $robo-bold;
                border-radius: 34px;
                background: $red;
                color: #fff;
                padding: 20px 41px;
                letter-spacing: .1em;
                font-size: 14px;
                line-height: 1;
                border: 2px solid #e34545;
                i {
                    padding-right: 10px;
                    color: #fff;
                    animation: pulsate 750ms infinite;
                }
                &:hover {
                    background-color: #8e1313;
                }
            }
        }
    }
    .quote-form {
        max-width: 482px;
        padding-left: 0;
        @include bp(sm-down) {
            margin-top: 40px;
        }
    }
    .socials-reviews {
        margin-top: 40px;
        text-align: center;
        max-width: 482px;
        .sr-title {
            display: block;
            font-family: $font-heading;
            font-size: 1.250em;
            line-height: 1.2;
            margin-bottom: 20px;
            color: #fff;
            @include bp(lg-down) {
                font-size: 1.1em;
            }
        }
        .social-badges {
            li {
                display: inline-block;
                a {

                }
            }
        }
    }
}
#city-intro {
    border-top: 5px solid #e34545;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    &:before {
        background: url(../img/bg/marker-bg.png) no-repeat right center;
        background-size: contain;
        content: "";
        width: 600px;
        height: 200px;
        position: absolute;
        bottom: 0;
        right: 0;
        @include bp(lg-down) {
            bottom: -60px;
            zoom: .7;
        }
        @include bp(sm-down) {
            bottom: -40px;
            zoom: .5;
        }
    }
    @include bp(lg-down) {
        padding-top: 60px;
         padding-bottom: 60px;
    }
    #city-intro-in {
        max-width: 995px;
        margin-left: auto;
        margin-right: auto;
    }
    h2 {
        font-family: $ek-reg;
        font-size: 2.875em;
        line-height: 1.2;
        color: #dd3333;
        margin-bottom: 20px;
        text-align: center;
        @include bp(desktop) {
            font-size: 2.6em;
        }
        @include bp(lg) {
            font-size: 2.4em;
        }
        @include bp(md-down) {
            font-size: 2.2em;
        }
        @include bp(sm-down) {
            font-size: 2em;
        }
    }
    p {
        @include regular-text;
        color: #053164;
    }
    ul {
        @include list-style;
        li {
            color: #053164;
        }
    }
}

#services-area {
    &.city-services {
        h2 {
            @include page-title;
            color: $blue;
            font-size: 3.438em;
            text-transform: none;
            margin-left: -100px;
            @include bp(desktop) {
                font-size: 3em;
            }
            @include bp(lg) {
                font-size: 2.8em;
            }
            @include bp(md-down) {
                font-size: 2.6em;
            }
            @include bp(sm-down) {
                font-size: 2.4em;
                margin-left: auto;
                margin-right: auto;
            }
            img {
                @include bp(sm-down) {
                    position: static;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
        .service-item {
            @include bp(sm-down) {
                margin-bottom: 50px;
            }
        }
    }
}

#testimonials-section {
    text-align: center;
    padding-top: 110px;
    padding-bottom: 120px;
    background-color: #E04848;
    @include bp(desktop) {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    @include bp(lg-down) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .container {
        @media (min-width: 1550px) {
            max-width: 1230px;
        }
    }
    h2 {
        @include page-title;
        font-size: 3.438em;
        text-transform: none;
        margin-bottom: 10px;
        color: #fff;
        img {
            position: relative;
            bottom: 10px;
            @include bp(sm-down) {
                position: static;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
        @include bp(desktop) {
            font-size: 3em;
        }
        @include bp(lg) {
            font-size: 2.8em;
        }
        @include bp(md-down) {
            font-size: 2.6em;
        }
        @include bp(sm-down) {
            font-size: 2.4em;
        }
    }
    h3 {
        font-family: $ek-reg;
        color: #222222;
        font-size: 1.938em;
        line-height: 1.2;
        margin-bottom: 20px;
        @include bp(desktop) {
            font-size: 1.7em;
        }
        @include bp(lg) {
            font-size: 1.6em;
        }
        @include bp(md) {
            font-size: 1.5em;
        }
        @include bp(sm-down) {
            font-size: 1.4em;
        }
    }
    #city-testimonials {
        margin-top: 45px;
        .slick-slide {
            margin: 0 10px;
        }
        .slick-list {
            margin: 0 -10px;
        } 
        .content-less {
            &:after {
                content: '...';
            }
            &.active {
                &:after {
                    display: none; 
                }
            }
            
        }
        .ct-box {
            background: rgba(255,255,255,0.15);
            border-radius: 5px;
            padding: 30px;
            text-align: center;
            .user-avatar {
                img {
                    border-radius: 50%;
                    width: 135px;
                }
            }
            .author {
                font-family: $robo-bold;
                margin: 10px 0 8px;
                font-size: 1.200em;
                line-height: 1.78571;
                text-align: center;
                color: #fff;
                display: block;
            }
            .stars {
                margin-bottom: 10px;
                display: block;
            }
            p {
                @include regular-text;
                font-size: 15px;
                color: #fff;
                margin-bottom: 10px;
                span.content-more {

                }
            }
            a.show_hide {
                color:$white;
                font-weight: bold;
                padding-bottom: 10px;
                display: inline-block;
                text-decoration: underline;
                &:hover {
                    cursor: pointer;
                }
            } 
            span.date {
                display: block;
                @include regular-text;
                color: #fff;
                margin-bottom: 5px;
            }
            .review-logo {
                a {
                    img {

                    }
                }
            }
        }
    }
}

#city-portfolio {
    background-color: #053164;
    padding-top: 120px;
    padding-bottom: 80px;
    position: relative;
    @include bp(desktop) {
        padding-top: 90px;
        padding-bottom: 70px;
    }
    @include bp(lg-down) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    &:after {
        background: url(../img/bg/ecwce-box.png) no-repeat center center;
        background-size: contain;
        content: "";
        width: 500px;
        height: 500px;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
        opacity: .4;
    }
    .container {
        position: relative;
        z-index: 1;
        @media (min-width: 1550px) {
            max-width: 1230px;
        }
    }
    h2 {
        @include page-title;
        font-size: 3.438em;
        text-transform: none;
        margin-bottom: 10px;
        color: #fff;
        text-align: center;
        margin-left: -100px;
        @include bp(desktop) {
            font-size: 3em;
        }
        @include bp(lg) {
            font-size: 2.8em;
        }
        @include bp(md-down) {
            font-size: 2.6em;
        }
        @include bp(sm-down) {
            font-size: 2.4em;
            margin-left: auto;
            margin-right: auto;
        }
        img {
            position: relative;
            bottom: 5px;
            @include bp(sm-down) {
                position: static;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    p {
        text-align: center;
        font-family: $ek-reg;
        font-size: 1.250em;
        line-height: 1.2;
        color: #fff;
        margin-bottom: 20px;
        @include bp(lg-down) {
            font-size: 1.1em;
        }
    }
    #portfolio-slider {
        margin-top: 40px;
        .slick-slide {
            margin: 0 7.5px;
        }
        .slick-list {
            margin: 0 -7.5px;
        } 
        a {
            img {
                object-fit:cover;
                height: 292px;
                width: 100%;
                display: block;
                @include bp(lg) {
                    height: 159px;
                }
                @include bp(md) {
                    height: 165px;
                }
            }
        }
    }
    .featured-item {
        margin-top: 65px;
        width: 50%;
        @include bp(lg) {
            width: 70%;
        }
        @include bp(md) {
            width: 70%;
        }
        @include bp(sm-down) {
            width: 100%;
        }
        a {
            display: flex;
            img {
                width: 142px;
            }
            .featured-title {
                padding-left: 30px;
                font-family: $robo-reg;
                line-height: 1.4;
                font-size: 1.125em;
                text-transform: uppercase;
                color: #fff;
                display: inline-block;
                @include bp(lg-down) {
                    font-size: 1.1em;
                }
            }
        }
    }
}

#city-features {
    position: relative;
    padding-top: 80px;
    padding-bottom: 150px;
    overflow: hidden;
    border-bottom: 5px solid #e34545;
    @include bp(desktop) {
        padding-bottom: 120px;
    }
    @include bp(lg-down) {
        padding-top: 60px;
        padding-bottom: 100px;
    }
    &:after {
        background: url(../img/bg/ecwce-boxes.png) no-repeat left center;
        background-size: contain;
        content: "";
        width: 800px;
        height: 300px;
        position: absolute;
        bottom: -60px;
        left: 0;
        @include bp(desktop) {
            zoom: .7;
        }
        @include bp(lg-down) {
            zoom: .6;
        }
    }
    .container {
        position: relative;
        z-index: 1;
        @media (min-width: 1550px) {
            max-width: 1230px;
        }
    }
    .cf-photo {
        padding: 40px;
        margin-bottom: 30px;
        position: relative;
        margin-top: 40px;
        @include bp(sm-down) {
            margin-top: 0;
        }
        &:before {
            content: "";
            display: block;
            position: absolute;
            z-index: 0;
            width: 85%;
            height: 85%;
            left: 5px;
            top: 13px;
            border: 2px solid #e34545;
            @include bp(lg) {
                width: 70%;
                height: 70%;
                left: 60px;
                top: 60px;
            }
            @include bp(md) {
                width: 70%;
                height: 70%;
                left: 60px;
                top: 60px;
            }
        }
    }
    .cf-content {
        margin-bottom: 40px;
        h2 {
            font-family: $ek-reg;
            font-size: 1.750em;
            line-height: 1.2;
            color: #222;
            margin-bottom: 30px;
            text-align: center;
            @include bp(desktop) {
                font-size: 1.7em;
            }
            @include bp(lg) {
                font-size: 1.6em;
            }
            @include bp(md-down) {
                font-size: 1.5em;
            }
            @include bp(sm-down) {
                font-size: 1.4em;
            }
        }
        p {
            @include regular-text;
            color: #053164;
            a {
                text-decoration: underline;
            }
        }
    }
    .city-more-info {
        border: 2px solid #053164;
        padding: 20px;
        @include bp(lg-up) {
            column-count: 3;
        }
        h3 {
            font-family: $font-heading;
            font-size: 1.500em;
            line-height: 1.2;
            color: #222;
            margin-bottom: 20px;
            @include bp(desktop) {
                font-size: 1.4em;
            }
            @include bp(lg) {
                font-size: 1.3em;
            }
            @include bp(md) {
                font-size: 1.2em;
            }
            @include bp(sm-down) {
                font-size: 1.2em;
            }
        }
        p {
            @include regular-text;
            color: #444;
        }
        ul {
            @include list-style;
            li {
                color: #444;
            }
        }
    }
}

#city-contact {
    background-color: rgba($blue,.9);
    padding-top: 100px;
    padding-bottom: 100px;
    @include bp(desktop) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @include bp(lg-down) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .cc-content {
        text-align: center;
        img {
            margin-bottom: 30px;
            @include bp(lg-down) {
                width: 70px;
            }
        }
        h2 {
            font-family: $ek-bold;
            color: #fff;
            font-size: 3.000em;
            line-height: 1.2;
            margin-bottom: 20px;
            @include bp(desktop) {
                font-size: 2.8em;
            }
            @include bp(lg) {
                font-size: 2.6em;
            }
            @include bp(md-down) {
                font-size: 2.4em;
            }
            @include bp(sm-down) {
                font-size: 2.2em;
            }
        }
        h3 {
            font-family: $ek-reg;
            color: #fff;
            font-size: 2.188em;
            line-height: 1.2;
            margin-bottom: 20px;
            @include bp(desktop) {
                font-size: 2em;
            }
            @include bp(lg) {
                font-size: 1.8em;
            }
            @include bp(md-down) {
                font-size: 1.6em;
            }
            @include bp(sm-down) {
                font-size: 1.4em;
            }
        }
        .header-cta {
            margin-top: 60px;
            @include bp(sm-down) {
                margin-top: 30px;
            }
            a {
                display: inline-block;
                font-family: $robo-bold;
                border-radius: 34px;
                background: $red;
                color: #fff;
                padding: 20px 41px;
                letter-spacing: .1em;
                font-size: 14px;
                line-height: 1;
                border: 2px solid #e34545;
                i {
                    padding-right: 10px;
                    color: #fff;
                    animation: pulsate 750ms infinite;
                }
                &:hover {
                    background-color: #8e1313;
                }
            }
        }
    }
    .quote-form {
        @include bp(sm-down) {
            margin-top: 40px;
        }
    }
}