#contact-page {
    background-color: #dbdbdb;
    padding-top: 80px;
    padding-bottom: 80px;
    @include bp(lg-down) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .col {
        &:first-of-type {
            @include bp(md-up) {
                max-width: 37%;
            } 
        }
         &:last-of-type {
            @include bp(md-up) {
                max-width: 49%;
            } 
        }
    }
    .contact-info {
        text-align: right;
        &:after {
            content: '';
            display: block;
            width: 150px;
            height: 4px;
            background-color: #053164;
            margin-left: auto;
            margin-top: 40px;
        }
        p {
            color: #01a2dd;
            font-family: $ek-bold;
            font-size: 16px;
            line-height: 1.78571;
            margin-bottom: 6px;
        }
    }
    .contact-form {
        padding-left: 10px;
        @include bp(sm-down) {
            padding-left: 0;
            margin-top: 40px;
        } 
        form {
            .form-group {
                margin-bottom: 10px;
            }
            input[type=text], input[type=number], input[type=email], input[type=tel], textarea, .bootstrap-select .btn {
                @include input-style;
            }
            textarea {
                height: 160px;
            }
            
            .bootstrap-select .btn {
                padding-right: 30px;
            }
            .add-car-btn {
                font-family: $robo-bold;
                display: block;
                padding: 12.5px 24px;
                line-height: 1;
                text-transform: uppercase;
                color: #053164;
                letter-spacing: .075em;
                text-align: center;
                font-size: .875em;
                border: 0;
                background: none;
                margin-left: auto;
                margin-right: auto;
                @include animate-fade;
                &:hover {
                    color: $red;
                }
            }
        }
        label {
            @include input-label;
        }
        button[type=submit] {
            @include submit-btn;
            margin-left: 0;
            justify-content: center;
        }
    }
}