/*===============================
=           Footer            =
===============================*/
#page-footer {
    background-color: #1d1d1d;
    padding-top: 60px;
    .container {
        @media (min-width:1550px) {
            width: 1230px;
            max-width: 1230px;
        }
    }
    .footer-block {
        padding-bottom: 60px;
        @include media-breakpoint-down(sm) {
            padding-bottom: 40px;
        }
        .footer-title {
            display: block;
            color: #fff;
            font-size: 2.250em;
            font-family: $robo-reg;
            line-height: 1.2;
            margin-bottom: 30px;
            @include breakpoint (desktop) {
                font-size: 1.8em;
            }
            @include media-breakpoint-only(lg) {
                font-size: 1.6em;
            }
            @include media-breakpoint-only(md) {
                font-size: 1.4em;
            }
            @include media-breakpoint-down(sm) {
                font-family: $robo-bold;
                font-size: 14px;
                text-transform: uppercase;
                text-align: center;
                margin-bottom: 20px;
                letter-spacing: .1em;
            }
        }
        p {
            @include regular-text;
            color: #a4a4a4;
        }
        .contact-btn {
            a {
                font-family: $robo-bold;
                font-size: 12px;
                letter-spacing: .1em;
                display: inline-block;
                color: #fff;
                background-color: $red;
                text-align: center;
                padding: 10px 15px;
                border-radius: 30px;
                line-height: 1;
                &:hover {
                   background-color: $dark;
                }
            }
        }
        .footer-socials {
            margin-top: 15px;
            margin-bottom: 15px;
            ul {
                li {
                    a {
                        color: #a4a4a4;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
        .footer-sitemap {
            ul {
                li {
                    margin-bottom: 20px;
                    @include media-breakpoint-down(sm) {
                        margin-bottom: 10px;
                    }
                    a {
                        display: inline-block;
                        @include regular-text;
                        color: #fff;
                        margin-bottom: 0;
                        &:hover {
                            color: #a4a4a4;
                        }
                    }
                }
            }
        }
        .footer-tags {
            a {
                display: inline-block;
                margin: 5px 3px;
                padding: 0 8px;
                border: 1px solid #363636;
                border-radius: 2px;
                font-size: 13px!important;
                transition-duration: .2s;
                color: #a4a4a4;
                &:hover {
                    box-shadow: 0 2px 6px rgba(0,0,0, 0.3);
                    -webkit-transform: translateY(-2px);
                    -moz-transform: translateY(-2px);
                    -ms-transform: translateY(-2px);
                    -o-transform: translateY(-2px);
                    transform: translateY(-2px);
                    color: #fff;
                }
            }
        }
    }
    .col {
        @include media-breakpoint-down(sm) {
            min-width: 100%;        
        }
    }
   
    .copybar {
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid #363636;
        @include media-breakpoint-down(sm) {
            text-align: center;
        }
        small {
            font-family: $robo-reg;
            font-size: 14px;
            line-height: 1.5;
            color: #a4a4a4;
        }
    }
}

/*=======End of Footer ========*/


